<div *ngIf="medicament">
  <div class="empl">
    <table cellspacing="0" class="example-full-width">
      <tr>
        <td>
          <mat-form-field class="example-form-field">
            <mat-label>Name</mat-label>
            <input
              [(ngModel)]="medicament.name"
              id="medicament-name"
              matInput
              type="text"
            />
            <button
              (click)="medicament.name = ''"
              aria-label="Clear"
              mat-button
              mat-icon-button
              matSuffix
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-form-field">
            <mat-label>Contact Phone</mat-label>
            <input
              [(ngModel)]="medicament.cost"
              id="medicament-cost"
              matInput
              type="text"
            />
            <button
              (click)="medicament.contactPhone = ''"
              aria-label="Clear"
              mat-button
              mat-icon-button
              matSuffix
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <button (click)="update()" color="primary" mat-raised-button>submit</button>
  </div>
</div>
