<div *ngIf="inspection">
  <div class="empl">
    <table cellspacing="0" class="example-full-width">
      <tr>
        <td>
          <mat-form-field class="example-form-field">
            <mat-label>Name</mat-label>
            <input
              [(ngModel)]="inspection.date"
              id="employee-date"
              matInput
              type="text"
            />
            <button
              (click)="inspection.date = ''"
              aria-label="Clear"
              mat-button
              mat-icon-button
              matSuffix
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-form-field">
            <mat-label>Employee</mat-label>
            <input
              [(ngModel)]="employee.name"
              id="employee-name"
              matInput
              type="text"
              disabled
          /></mat-form-field>
        </td>
      </tr>
    </table>
    <button (click)="update()" color="primary" mat-raised-button>submit</button>
  </div>
</div>
